<div class="row">
  <div class="col-md-6 col-sm-0 col-xs-0">
    <div class="jumbotron">
      <h2>Add playground</h2>
      <form #addPlaygroundForm="ngForm" novalidate (ngSubmit)="addPlayground(addPlaygroundForm.valid, addPlaygroundForm, $event)">
        <div class="form-group">
          <label for="playgroundName">Name:</label>
          <input type="text" class="form-control" required min="5" [(ngModel)]="playground.name" name="playgroundName" #playgroundName="ngModel" />
          <small class="text-danger" [hidden]="playgroundName.valid || (playgroundName.pristine && !addPlaygroundForm.submitted)"> Name is required (minimum length 5.) </small>
          <br/>
        </div>

        <div class="form-group">
          <label>Address:</label>
          <input class="form-control" type="text" [(ngModel)]="playground.address" #playgroundAddress="ngModel" name="playgroundAddress" required minlength="5"
            maxlength="50">
          <small class="text-danger" [hidden]="playgroundAddress.valid || (playgroundAddress.pristine && !addPlaygroundForm.submitted)"> Address is required (minimum length 5.) </small>
        </div>

        <!--<div class="form-group">
          <label>LocationX:</label>
          <input class="form-control" type="text" [(ngModel)]="user.username" #username="ngModel" name="username" required minlength="5"
            maxlength="20">
          <small class="text-danger" [hidden]="username.valid || (username.pristine && !addPlaygroundForm.submitted)"> Username is required (minimum length 5.) </small>
        </div>

        <div class="form-group">
          <label>LocationX:</label>
          <input class="form-control" type="text" [(ngModel)]="user.username" #username="ngModel" name="username" required minlength="5"
            maxlength="20">
          <small class="text-danger" [hidden]="username.valid || (username.pristine && !addPlaygroundForm.submitted)"> Username is required (minimum length 5.) </small>
        </div> -->
        <label class="text-danger">{{errorMessage}}</label>
        <br/>
        <button type="submit" class="btn btn-primary">Add Playground</button>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-sm-0 col-xs-0">
    <ul>
      <li *ngFor="let field of playgrounds">{{field.name}}    {{field.address}}</li>
    </ul>
      
  </div>
</div>
