
<div class="row">
  <div class="col-md-6 col-sm-0 col-xs-0">
    <div class="jumbotron">
      <h2>Tournament</h2>
      <form>
        <div class="form-group">
          <label>Name: {{tournament.name}}</label>
          <br/>
        </div>

        <div class="form-group">
          <label>Date and time: {{tournament.date_time}}</label>
          <br/>
        </div>

        <h3> Playground: </h3>
        <div class="form-group">
          <label>Name of playground: {{tournament.playground.name}}</label>
          <label>Address of playground: {{tournament.playground.address}}</label>
        </div> 
      </form>
    </div>
    <h3>Teams that participate in tournament:</h3>
    <div>
      <ul>
        <li *ngFor="let teamOfT of teamsOfTournament">{{teamOfT.name}}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-sm-0 col-xs-0">
      <div class="form-group">
        <label>Team:</label>
        <select class="form-control" required #team (change)="onChangeTeam(team.value)">
          <option  value="0"> Choose team</option>
          <option *ngFor="let team of teamsOfLoggedUser" [value]="team._id"> {{team.name}}</option>
        </select>
        <br>
      </div>
      <div class="form-group">
        <button type="button" (click)="addTeam()" class="btn btn-primary">Add team to the tournament</button>
      </div>
  </div>
</div>