<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Football app</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/add-product" routerLinkActive="active" *ngIf="user&&user.role=='admin'">Create product</a></li>
          <li><a routerLink="/history" routerLinkActive="active" *ngIf="user&&user.role=='admin'">History</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--<li>
            <a routerLink="/cart" routerLinkActive="active"><img src="https://cdn1.iconfinder.com/data/icons/social-productivity-line-art-4/128/shopping-cart2-256.png" width="20" height="20">
              <small>{{cartCount}}</small></a>
          </li> -->
          <li><a routerLink="/playgrounds" routerLinkActive="active">Playgrounds</a></li>
          <li><a routerLink="/tournaments" routerLinkActive="active">Tournaments</a></li>
          <li><a routerLink="/add-team" routerLinkActive="active">Create team</a></li>
          <li><a routerLink="/register" routerLinkActive="active" *ngIf="!user">Register</a> </li>
          <li><a (click)="showUserProfile()" style="cursor: pointer" *ngIf="user">{{user.username}}</a> </li>
          <li><a routerLink="/login" routerLinkActive="active" *ngIf="!user">Login</a> </li>
          <li><a (click)="logout()" routerLink="/home" routerLinkActive="active" *ngIf="user">Logout</a> </li>
        </ul>

        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" #searchProduct (keyup)="searchProducts(searchProduct.value)" placeholder="Search"
            />
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>