<div class="jumbotron">
  <h2>Add team</h2>
  <form #addTeamForm="ngForm" novalidate (ngSubmit)="addTeam(addTeamForm.valid, addTeamForm, $event)">
    <div class="form-group">
      <label for="teamName">Name:</label>
      <input type="text" class="form-control" id="teamName" required min="5" [(ngModel)]="team.name" name="teamName" #teamName="ngModel" />
      <small class="text-danger" [hidden]="teamName.valid || (teamName.pristine && !addTeamForm.submitted)"> Name is required (minimum length 5.) </small>
      <br/>
    </div>

    <div class="form-group">
      
    </div>
    <label class="text-danger">{{errorMessage}}</label>
    <br/>
    <button type="submit" class="btn btn-primary">Add Team</button>
  </form>
</div>