<div class="row">
  <div class="col-md-2 col-sm-0 col-xs-0">
    <br>
  </div>
  <div class="col-md-10 col-sm-12 col-xs-12">
    <div class="row">
      <div *ngIf="teams">
        <a class="col-md-2 col-sm-3 col-xs-6 well well-xs" style="cursor:pointer" *ngFor="let team of teams" (click)="saveTempTeam(team)" >
          <h3 class="name">{{team.name}}</h3>
        </a>
      </div>
      <div *ngIf="!teams">
        <h2> Loading teams... </h2>
      </div>
    </div>
  </div>