<div class="row">
  <div class="col-md-6 col-sm-0 col-xs-0">
    <div class="jumbotron">
      <h2>Add tournament</h2>
      <form #addTournamentForm="ngForm" novalidate (ngSubmit)="addTournament(addTournamentForm.valid, addTournamentForm, $event)">
        <div class="form-group">
          <label for="tournamentName">Name:</label>
          <input type="text" class="form-control" required min="5" [(ngModel)]="tournament.name" name="tournamentName" #tournamentName="ngModel" />
          <small class="text-danger" [hidden]="tournamentName.valid || (tournamentName.pristine && !addTournamentForm.submitted)"> Name is required (minimum length 5.) </small>
          <br/>
        </div>

        <div class="form-group">
          <label>Date and time:</label>
          <input class="form-control" type="datetime-local" [(ngModel)]="tournament.date_time" #tournamentDateTime="ngModel" name="tournamentDateTime" required minlength="5"
            maxlength="20">
          <small class="text-danger" [hidden]="tournamentDateTime.valid || (tournamentDateTime.pristine && !addTournamentForm.submitted)"> Date and time is required (minimum length 5.) </small>
        </div>
        
        <div class="form-group">
          <label>Playground:</label>
          <select class="form-control" required #playground (change)="onChangePlayground(playground.value)">
            <option  value="0"> Choose playground</option>
            <option *ngFor="let playground of playgrounds" [value]="playground._id"> {{playground.name}}, {{playground.address}}</option>
          </select>
          <br>
        </div>
        
        <label class="text-danger">{{errorMessage}}</label>
        <br/>
        <button type="submit" class="btn btn-primary">Add Tournament</button>
      </form>
    </div>
  </div>

  <div class="col-md-6 col-sm-0 col-xs-0">
    <div class="jumbotron">
      <h3>Upcoming tournaments: </h3>
      <ul>
        <li *ngFor="let singleTournament of tournaments" style="cursor:pointer" (click)="saveTournament(singleTournament)">{{singleTournament.name}}    {{singleTournament.playground.name}} {{singleTournament.playground.address}}</li>
      </ul>
    </div>
  </div>
</div>
