<div class="jumbotron" *ngIf="team">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <h1> {{team.name}} </h1>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-0">
      <h2> Captain: {{userName}} </h2>
      <h3 class="text-warning" *ngIf="team.members">Members:</h3>
      <table style="width:100%">
        <tr>
          <th>First name</th>
          <th>Last name</th> 
          <th>email</th>
          <th>status</th>
        </tr>
        <tr *ngFor="let member of teamMembers">
          <td>{{member.first_name}}</td>
          <td>{{member.last_name}}</td> 
          <td>{{member.email}}</td>
          <td>{{member.status}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <form #inviteMemberForm="ngForm" novalidate (ngSubmit)="submit(inviteMemberForm.valid, inviteMemberForm)">
      <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="invitedMemberEmail" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
          #email="ngModel">
        <small class="text-danger" [hidden]="email.valid || (email.pristine && !inviteMemberForm.submitted)"> Email is required and format should be <i>example@gmail.com</i>.</small>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Invite</button>
      </div>
    </form>
  </div>
</div>