<!-- Eather we use jumbotron class for forms or we add errors with  <small [hidden]="username.valid || (username.pristine && !registerForm.submitted)"> Username is required! </small> -->
<div class="jumbotron col-sm-6 col-sm-offset-3">
  <h2>Login</h2>
  <br/>
  <form #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm.valid, loginForm)">
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" type="text" [(ngModel)]="loginData.username" #username="ngModel" name="username" required minlength="5"
        maxlength="20">
      <small class="text-danger" [hidden]="username.valid || (username.pristine && !loginForm.submitted)"> Username is required (minimum length 5.) </small>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" name="password" [(ngModel)]="loginData.password" #password="ngModel" required>
      <small class="text-danger" [hidden]="password.valid || (password.pristine && !loginForm.submitted)"> Password required </small>
    </div>
    <small class="text-danger"> {{errorMsg}}</small>
    <br/>
    <a routerLink="/register" routerLinkActive="active">No account? Register first.</a>
    <br/>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>