<div *ngIf="!isExistingUser">
<div class="jumbotron col-sm-6 col-sm-offset-3" *ngIf="!message">
  <h2>Register Invited User</h2>
  <br/>
  <form #registerInvitedForm="ngForm" novalidate (ngSubmit)="submit(registerInvitedForm.valid, registerInvitedForm)">
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" type="text" [(ngModel)]="user.username" #username="ngModel" name="username" required minlength="5"
        maxlength="20">
      <small class="text-danger" [hidden]="username.valid || (username.pristine && !registerInvitedForm.submitted)"> Username is required (minimum length 5.) </small>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
      <small class="text-danger" [hidden]="password.valid || (password.pristine && !registerInvitedForm.submitted)"> Password required </small>
    </div>
    <div class="form-group">
      <label>Re-type password:</label>
      <input class="form-control" type="password" name="confirmPassword" [(ngModel)]="confirmPass" #confirmPassword="ngModel" required>
      <small class="text-danger" [hidden]="(confirmPassword.valid && (password.value == confirmPassword.value)) || (confirmPassword.pristine && !registerInvitedForm.submitted) "> Password mismatch! </small>
    </div>
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" readonly type="email" name="email" [(ngModel)]="user.email" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
        #email="ngModel">
      <small class="text-danger" [hidden]="email.valid || (email.pristine && !registerInvitedForm.submitted)"> Email is required and format should be <i>example@gmail.com</i>.</small>
    </div>

    <div class="form-group">
      <label>First name:</label>
      <input class="form-control" type="text" name="first_name" [(ngModel)]="user.first_name">
    </div>
    <div class="form-group">
      <label>Last name:</label>
      <input class="form-control" type="text" name="last_name" [(ngModel)]="user.last_name">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
</div>
<div *ngIf="message">
  <h2>{{message}}</h2>
</div>
<div *ngIf="isExistingUser">
    <div class="form-group">
      <button (click)="submitExisting()" class="btn btn-primary">Confirm Invitation</button>
    </div>
</div>