<div class="row">
  <div class="col-md-6 col-sm-0 col-xs-0">
    <div class="jumbotron">
      <form #userForm="ngForm" *ngIf="user" novalidate (ngSubmit)="save(userForm.valid, userForm)">
        <div class="form-group">
          <label>Username:</label>
          <input class="form-control" type="text" readonly [(ngModel)]="user.username" #username="ngModel" name="username" required minlength="5"
            maxlength="20">
          <small class="text-danger" [hidden]="username.valid || (username.pristine && !userForm.submitted)"> Username is required (minimum length 5.) </small>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type="email" name="email" readonly [(ngModel)]="user.email" required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
            #email="ngModel">
          <small class="text-danger" [hidden]="email.valid || (email.pristine && !userForm.submitted)"> Email is required and format should be <i>example@gmail.com</i>.</small>
        </div>

        <div class="form-group">
          <label>First name:</label>
          <input class="form-control" type="text" name="first_name" [(ngModel)]="user.first_name">
        </div>
        <div class="form-group">
          <label>Last name:</label>
          <input class="form-control" type="text" name="last_name" [(ngModel)]="user.last_name">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>